body {
  margin: 0;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  background-color: #FFFFFF;
  /* Secondary */
  color: #000000;
}

header {
  background-color: #1377D3;
  height: 72px;
}

.title {
  color: #FFD700;
  font-size: 40px;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 24px;
}

main {
  max-width: 500px;
}

.profile {
  margin: 24px;
}

.logo {
  width: 200px;
  height: 200px;
}

.list {
  padding-left: 15px;
}

table tr td {
  font-weight: bold;
}

footer {
  color: #1377D3;
  position: absolute;
  bottom: 0;
  height: 80px;
  line-height: 80px;
  width: 100%;
  text-align: center;
}
