body {
  margin: 0;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  background-color: #FFFFFF;
  /* Secondary */
  color: #000000;
}

header {
  background-color: #373637;
  height: 72px;
}

.title {
  color: #FFD700;
  font-size: 40px;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 24px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #373637;
}

.profile {
  margin: 24px;
}

.logo {
  width: 200px;
  height: 200px;
}

.list {
  padding-left: 24px;
  font-size: 18px;
}

.list li {
  padding-bottom: 8px;
}

footer {
  color: #373637;
  position: absolute;
  bottom: 0;
  height: 80px;
  line-height: 80px;
  width: 100%;
  text-align: center;
}
